.layoutContainer {
  --top-bar-height: 60px;
  --sidebar-width: 225px;
  @apply flex min-h-screen flex-col bg-gradient-to-tr from-slate-300;
}

.topBar {
  height: var(--top-bar-height);
  @apply sticky top-0 bg-slate-600;
}

.sidebarMain {
  @apply flex w-full transition-all duration-300;
}

.sidebarCollapsed {
  width: calc(100% + var(--sidebar-width));
  margin-left: calc(-1 * var(--sidebar-width));
}

.sidebar {
  top: var(--top-bar-height);
  height: calc(100vh - var(--top-bar-height));
  @apply sticky w-[var(--sidebar-width)] shrink-0 bg-slate-400 bg-opacity-20;
}

.expandButton {
  @apply absolute left-[calc(100%+8px)] top-2 flex h-9 w-9 items-center justify-center bg-slate-800 text-3xl text-white;
}

.main {
  @apply flex flex-grow flex-col items-center py-4;
}
