.layoutContainer {
  --top-bar-height: 60px;
  --sidebar-width: 225px;
  @apply min-h-screen flex flex-col bg-gradient-to-tr from-slate-300;
}

.topBar {
  height: var(--top-bar-height);
  @apply bg-slate-600 sticky top-0;
}

.sidebarMain {
  @apply flex transition-all duration-300 w-full;
}

.sidebarCollapsed {
  width: calc(100% + var(--sidebar-width));
  margin-left: calc(-1 * var(--sidebar-width));
}

.sidebar {
  top: var(--top-bar-height);
  height: calc(100vh - var(--top-bar-height));
  @apply w-[var(--sidebar-width)] bg-slate-400 bg-opacity-20 shrink-0 sticky;
}

.expandButton {
  @apply bg-slate-800 text-white absolute left-[calc(100%+8px)] top-2 flex h-9 w-9 items-center justify-center text-3xl;
}

.main {
  @apply flex-grow flex-col items-center justify-center px-10 py-4;
}
